main > h1 {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-size: 70px; }
  @media (max-width: 1000px) {
    main > h1 {
      font-size: 45px; } }
  @media (max-width: 700px) {
    main > h1 {
      font-size: 20px; } }

.support__team > h2, .faq > .faq__content > h2 {
  color: white;
  font-size: 40px;
  text-align: center; }

.form_contact button:nth-child(7) {
  background-color: #AC39F3;
  border: 0;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 40px;
  font-family: Kanit, sans-serif;
  justify-content: center;
  max-width: 500px; }

.callcenter, .support__team, .faq > .faq__content {
  background-color: #1D1D1D;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 16px;
  max-width: 1400px;
  padding: 60px;
  margin: auto;
  margin-bottom: 40px;
  gap: 20px; }

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: inherit;
  list-style: none; }

nav {
  grid-area: nav; }

.navindex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  font-size: 24px;
  font-family: Kanit, sans-serif;
  align-content: center; }
  .navindex > .fa-bars {
    color: white;
    display: none; }
  .navindex > .fa-magnifying-glass {
    display: none; }

.logoindex {
  max-height: 23px;
  align-self: center;
  margin-right: 40px; }

.menu_horizontal {
  list-style: none;
  display: flex;
  justify-content: end; }
  .menu_horizontal > li > a {
    display: block;
    padding: 25px 30px;
    color: white;
    text-decoration: none; }
  .menu_horizontal > li:hover {
    background-color: #ac39f356;
    border: 1px solid #AC39F3;
    margin: 0px;
    transition: 0.3s;
    border-radius: 30px; }
  .menu_horizontal > li:hover > .menu_vertical {
    display: block;
    transition: 0.5s; }

.menu_vertical {
  position: absolute;
  margin-top: 2px;
  display: none;
  list-style: none;
  width: 180px;
  background-color: #4F2C64;
  border-radius: 8px; }
  .menu_vertical > li > a {
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    transition: 0.5s; }
  .menu_vertical > li:hover {
    border-radius: 8px;
    background-color: #ac39f3c7; }

@media (max-width: 984px) {
  .navindex > .fa-bars {
    color: white;
    font-size: 30px;
    display: block;
    padding: 20px; }
  .navindex > .fa-bars:hover + ul {
    left: 0; }
  .navindex > ul:hover {
    left: 0; }
  .navindex > .fa-magnifying-glass {
    color: white;
    font-size: 30px;
    display: block;
    padding: 20px; }
  .navindex > ul {
    position: fixed;
    flex-direction: column;
    background-color: black;
    width: 300px;
    height: 100vh;
    justify-content: start;
    padding-top: 60px;
    left: -300px;
    transition: 0.2s; }
  .logoindex {
    position: static;
    align-content: center;
    margin-right: 0px; } }

.category_active {
  font-weight: bolder; }

footer {
  grid-area: footer;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
  font-family: Kanit, sans-serif;
  border-top: 1px solid #1D1D1D; }
  footer > .company_data {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; }
    footer > .company_data > h2, footer > .company_data p, footer > .company_data .socialmedia, footer > .company_data .socialmedia {
      display: flex;
      justify-content: center; }
    footer > .company_data .footer_top {
      display: flex;
      flex-direction: column;
      gap: 20px; }
  footer .socialmedia {
    gap: 10px; }
  footer .f_info {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-around; }
    footer .f_info > .moreinfo {
      margin: 20px; }
      footer .f_info > .moreinfo > h3 {
        margin: 10px 0px;
        display: flex;
        justify-content: center; }
      footer .f_info > .moreinfo > ul {
        display: flex;
        flex-direction: column;
        gap: 10px; }
  footer .footer_logoindex {
    display: flex;
    justify-content: center;
    align-self: center; }
  @media (max-width: 986) {
    footer footer > .company_data > p {
      justify-self: center; }
    footer footer > .f_info {
      width: 100%; } }

/*Pages*/
.products_cover {
  background-image: url(../img/galaxia.jpg);
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .products_cover > h1 {
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-size: 80px;
    text-align: center; }
  @media (max-width: 1100px) {
    .products_cover .products_cover {
      background-size: cover; }
    .products_cover h1 {
      font-size: 60px; }
    .products_cover h2 {
      font-size: 40px; } }
  @media (max-width: 700px) {
    .products_cover .img_main {
      background-size: contain;
      background-repeat: no-repeat;
      height: 400px; }
    .products_cover h1 {
      font-size: 40px; }
    .products_cover h2 {
      font-size: 25px; } }

/*Main product*/
.products_father {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto; }
  .products_father > .tablet1 {
    background-color: #1D1D1D;
    margin-bottom: 100px;
    margin-top: 120px;
    margin: auto;
    padding: 60px;
    border-radius: 20px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 1400px; }
    .products_father > .tablet1 h3 {
      color: white;
      font-size: 50px;
      margin-bottom: 10px;
      justify-self: center; }
    .products_father > .tablet1 > .tablet1__content {
      background-color: #1D1D1D; }
      .products_father > .tablet1 > .tablet1__content > .tablet1__img {
        background-image: url(../img/tablet1.png);
        width: 700px;
        height: 700px;
        background-size: cover; }
        @media (max-width: 1100px) {
          .products_father > .tablet1 > .tablet1__content > .tablet1__img {
            width: 400px;
            height: 400px;
            margin: auto; } }
        @media (max-width: 700px) {
          .products_father > .tablet1 > .tablet1__content > .tablet1__img {
            background-size: contain;
            background-repeat: no-repeat;
            width: 300px;
            height: 300px; } }
      .products_father > .tablet1 > .tablet1__content > .tablet1__title {
        display: flex;
        justify-content: center; }
      .products_father > .tablet1 > .tablet1__content > .tablet1__text {
        color: white;
        font-size: 18px;
        font-family: 'Kanit', sans-serif;
        font-weight: lighter; }
        .products_father > .tablet1 > .tablet1__content > .tablet1__text > p {
          font-size: 30px; }
        .products_father > .tablet1 > .tablet1__content > .tablet1__text > .tablet1__card__price {
          font-family: 'Kanit', sans-serif;
          font-size: 40px;
          font-weight: bold;
          color: white;
          justify-self: start; }
      .products_father > .tablet1 > .tablet1__content > .tablet1__boton__div {
        display: flex;
        justify-content: center; }
        .products_father > .tablet1 > .tablet1__content > .tablet1__boton__div > .tablet1__boton {
          padding: 20px;
          width: 100%;
          color: black;
          background-color: #AC39F3;
          border-style: none;
          border-radius: 4px;
          font-family: 'Kanit', sans-serif;
          font-size: 24px;
          font-weight: bolder;
          justify-self: center; }
  @media (max-width: 1100px) {
    .products_father .tablet1 {
      display: block;
      max-width: 700px; }
    .products_father .tablet1 > h1 {
      font-size: 60px; }
    .products_father .products_cover > h1 {
      font-size: 60px; } }
  @media (max-width: 700px) {
    .products_father .tablet1 {
      display: block;
      max-width: 300px;
      height: 650px;
      padding: 30px; }
    .products_father .tablet1__title h3 {
      font-size: 30px; }
    .products_father .tablet1__text > p {
      font-size: 20px; } }

/*Accesories*/
.products2 {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px; }
  .products2 .products2__card {
    background-color: #1D1D1D;
    justify-content: center;
    display: block;
    width: 300px;
    border-radius: 8px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px; }
    .products2 .products2__card > .products2__card__img {
      width: 80%;
      border-radius: 10px;
      padding-left: 24px;
      padding-right: 24px;
      justify-self: center;
      align-self: center; }
    .products2 .products2__card > .products2__card__title {
      font-family: 'Kanit', sans-serif;
      font-size: 30px;
      font-weight: lighter;
      color: white;
      padding-top: 10px; }
    .products2 .products2__card > .products2__card__text {
      font-family: 'Kanit', sans-serif;
      color: #8f8f8f;
      font-size: 20px;
      align-items: center; }
    .products2 .products2__card > .products2__card__price {
      font-family: 'Kanit', sans-serif;
      font-size: 30px;
      font-weight: bold;
      color: white; }
    .products2 .products2__card > .products2__boton {
      margin-top: 10px;
      padding: 20px;
      width: 300px;
      color: black;
      background-color: #AC39F3;
      border-style: none;
      border-radius: 4px;
      font-family: 'Kanit', sans-serif;
      font-size: 24px;
      font-weight: bolder;
      justify-self: center; }
      .products2 .products2__card > .products2__boton:hover {
        background-color: #671897;
        transform: scale(1.1);
        transition: 0.8s;
        color: white; }
    .products2 .products2__card:hover {
      transform: scale(1.1);
      border: 1px solid #AC39F3;
      transition: 0.5s; }

.callcenter {
  max-width: 1200px; }
  .callcenter > h2 {
    color: white;
    font-size: 40px;
    text-align: center; }
  .callcenter > .callcenter_text {
    color: white;
    font-size: 20px;
    font-weight: lighter; }
  .callcenter > .callcenter_img {
    background-image: url(../img/callcenter.jpg);
    width: 1200px;
    height: 600px;
    background-size: cover; }
  @media (max-width: 1100px) {
    .callcenter .callcenter_img {
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 250px; }
    .callcenter .callcenter_text {
      max-width: 600px; } }

.corporate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1D1D1D;
  border-radius: 10px;
  padding: 60px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 40px; }
  .corporate > .corporate__adress {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "corporate__map  corporate__map"; }
  .corporate h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 30px; }
  .corporate p {
    color: white; }
  .corporate > .corporate__map:nth-child(1) {
    grid-area: corporate__map;
    max-width: 1200px;
    justify-items: center;
    padding-bottom: 10px; }
  .corporate > .corporate__text:nth-child(2) {
    grid-area: corporate__text;
    color: white;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    font-weight: lighter;
    max-width: 1200px;
    text-align: start; }
  .corporate .map {
    width: 100%;
    max-width: 1200px;
    height: 400px;
    border-style: none;
    padding-right: 20px; }

.form_contact {
  padding: 60px;
  background-color: #1D1D1D;
  max-width: 1200px;
  margin: 10px auto;
  margin-bottom: 40px;
  border-radius: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 80px;
  grid-template-areas: "titulo   titulo" "nomApell email" "tel      asunto" "mensaje  mensaje" "...      btn"; }
  .form_contact > label {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 10px;
    color: white; }
    .form_contact > label > input {
      padding-left: 10px;
      color: black;
      border-radius: 4px;
      font-family: 'Quicksand', sans-serif;
      height: 40px;
      max-width: 550px; }
    .form_contact > label > input, .form_contact > label .formulario > label > textarea {
      background-color: rgba(255, 255, 255, 0.349);
      border: 0; }
    .form_contact > label > textarea {
      background-color: rgba(255, 255, 255, 0.349);
      height: 60px;
      width: 100%;
      max-width: 1150px;
      border-radius: 4px; }
  .form_contact .contact_button > button {
    padding: 20px;
    width: 400px;
    color: white;
    background-color: #AC39F3;
    border-style: none;
    border-radius: 4px;
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    font-weight: bolder;
    justify-self: center; }

@media (max-width: 700px) {
  .form_contact {
    border-radius: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 80px;
    grid-template-areas: "titulo" "nomApell"  "email" "tel"       "asunto" "mensaje"   "btn"; } }

.form_contact h2:nth-child(1) {
  grid-area: titulo;
  color: white;
  font-size: 30px; }

.form_contact label:nth-child(2) {
  grid-area: nomApell; }

.form_contact label:nth-child(3) {
  grid-area: email; }

.form_contact label:nth-child(4) {
  grid-area: tel; }

.form_contact label:nth-child(5) {
  grid-area: asunto; }

.form_contact label:nth-child(6) {
  grid-area: mensaje; }

.form_contact button:nth-child(7) {
  grid-area: btn; }

.support__portada {
  height: 500px;
  background-size: cover;
  background-image: url(../img/support1.png); }
  @media (max-width: 900px) {
    .support__portada {
      max-height: 300px; } }

.support__team > .support__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  display: flex;
  align-content: center;
  justify-content: center; }
  .support__team > .support__content > .support__img img {
    width: 100%; }
  .support__team > .support__content > .support__text {
    color: white;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    font-weight: lighter;
    width: 100%;
    text-align: left;
    padding-top: 20px; }

@media (max-width: 900px) {
  .support__team {
    margin: 20px;
    padding: 20px; }
    .support__team p {
      font-size: 80%; }
    .support__team h2 {
      font-size: 24px; } }

/*CommonQuestions*/
.faq {
  background-color: #1D1D1D;
  max-width: 1400px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: auto;
  margin-bottom: 100px;
  border-radius: 20px;
  display: flex;
  align-content: center;
  justify-content: center; }
  .faq > .faq__content > .faq__text {
    margin: auto;
    color: white;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    font-weight: lighter;
    text-align: left; }
    .faq > .faq__content > .faq__text > ul > li {
      padding: 10px; }
      .faq > .faq__content > .faq__text > ul > li .fa-question-circle {
        color: #AC39F3;
        font-size: larger;
        padding-right: 10px; }
  @media (max-width: 900px) {
    .faq > .faq__content {
      margin: 0px;
      padding: 20px; }
      .faq > .faq__content h2 {
        font-size: 24px; }
      .faq > .faq__content ul {
        font-size: 80%; }
      .faq > .faq__content .faq__text {
        margin: 0px;
        padding: 0px; } }
  @media (max-width: 900px) {
    .faq {
      margin: 20px; } }

/*Index*/
body {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr;
  grid-template-areas: "nav nav nav nav" "header header header header" "main main main main" "footer footer footer footer";
  background-color: black;
  font-family: Kanit, sans-serif; }

header {
  grid-area: header; }
  header > .cover {
    width: 100%;
    height: 800px;
    background-image: url(../img/portada2.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  @media (max-width: 1100px) {
    header .cover {
      height: 400px; } }
  @media (max-width: 576px) {
    header .cover {
      background-repeat: no-repeat;
      height: 250px; } }

/*Index*/
main {
  grid-area: main;
  display: block; }
  main > .img_main {
    margin: auto;
    max-width: 1960px;
    justify-items: center; }
    main > .img_main > img {
      width: 100%;
      justify-self: center; }
    @media (max-width: 1200px) {
      main > .img_main {
        background-size: contain;
        background-repeat: no-repeat; } }
    @media (max-width: 700px) {
      main > .img_main {
        background-size: contain;
        background-repeat: no-repeat; } }
  main > h2 {
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 60px; }
    @media (max-width: 1000px) {
      main > h2 {
        font-size: 45px; } }
    @media (max-width: 700px) {
      main > h2 {
        font-size: 20px; } }

.values {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 40px;
  gap: 20px; }
  @media (max-width: 500px) {
    .values {
      justify-content: center;
      margin: 20px; } }
  .values > .index__card {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 300px;
    border: solid 1px #AC39F3;
    border-radius: 8px;
    padding: 30px;
    gap: 10px; }
  .values > .card__img {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    align-self: center; }
  .values h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: #87488d;
    align-self: center; }
  .values p {
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 20px;
    align-items: center;
    text-align: center; }
