body{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr; 
    grid-template-areas: "nav nav nav nav"
                        "header header header header"
                        "main main main main"
                        "footer footer footer footer";
    background-color: $colorPrincipal;
    font-family: Kanit, sans-serif;
}
